Source: osso-systemui-powerkeymenu
Section: misc
Maintainer: Ivaylo Dimmitrov <freemangordon@abv.bg>
Build-Depends: debhelper (>= 5), pkg-config, libhildon1-dev, libgconf2-dev,
 libgtk2.0-dev, libdbus-1-dev, libglib2.0-dev, mce-dev, osso-systemui-dev
Priority: optional
Standards-Version: 3.7.2

Package: osso-systemui-powerkeymenu
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, osso-systemui (>= 0.2.0), osso-powerup-shutdown-l10n-mr0 | osso-powerup-shutdown-l10n-mr, hildon-libs-l10n-mr | hildon-libs-l10n-mr0
Description: Power key menu
 This package contains the Power key menu

Package: osso-systemui-powerkeymenu-dbg
Architecture: any
Section: devel
Depends: osso-systemui-powerkeymenu (= ${Source-Version})
Description: Power key menu debug symbls
 This package contains the Power key menu debug symbls

Package: osso-systemui-powerkeymenu-dev
Architecture: all
Section: devel
Depends: ${shlibs:Depends}
Description: Power key menu development files
 This package contains the Power key menu development files
